{:paths ["src" "test"]
 :deps {io.github.kotoba-lang/langgraph
        {:local/root "../../kotoba-lang/langgraph"}
        com.etzhayyim/kotoba-datom
        {:local/root "../com-etzhayyim-kotoba-datom"}
        com.etzhayyim/ie-flow
        {:local/root "../com-etzhayyim-ie-flow"}
        com.etzhayyim/social-publication
        {:local/root "../com-etzhayyim-social-publication"}}
 :tasks {test {:doc "Run all standalone kaname suites"
               :task (load-file "run_tests.clj")}
         heartbeat {:doc "Run one repository-local heartbeat"
                    :task (do (require 'kaname.autorun)
                              ((resolve 'kaname.autorun/-main)))}}}
