{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/langgraph
        {:local/root "../../kotoba-lang/langgraph"}
        com.etzhayyim/kotoba-datom
        {:local/root "../com-etzhayyim-kotoba-datom"}
        kotoba-lang/ie-flow
        {:local/root "../../kotoba-lang/ie-flow"}
        com.etzhayyim/social-publication
        {:local/root "../com-etzhayyim-social-publication"}}
 :aliases {:test {:extra-paths ["test"]}}}
